body{
    display: grid;
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    grid-template-columns: 20% 3fr 1fr;
    grid-template-rows: 200px 1fr 50px;
    grid-template-areas: 
        ' header header header'
        ' nav main aside '
        ' footer footer footer ';
    
    background-color: #fafbfc;
}

.header-container{
    grid-area: header;
}

.nav-container{
    grid-area: nav;
}

.main-container{
    grid-area: main;
}

.aside-container{
    grid-area: aside;
}

.footer-container{
    grid-area: footer;
}