.footer-container{
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    border-top: 1px solid black;
    align-items: center;
    margin-top: 20px;
}

.footer-container figure{
    margin: 0 auto;
}

.footer-container img{
    max-width: 50px;
}

.footer-container ul{
    display: flex;
    flex-wrap: wrap;
}

.footer-container ul li{
    border-right: 1px solid black;
    padding: 0 20px;
}

.footer-container ul li:nth-child(3){
    border: none;
}

.footer-container span{
    font-size: 1em;
    text-align: end;
}